

#topBar {
    /*-fx-background-color: gray;*/
    -fx-font-size: 20px;
    -fx-top: 0px;
    -fx-padding: 0px 0px 0px 40px;
    -fx-height: 50px;
    /*-fx-border-top: 1px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-text-align: center;*/
}

#farmPlots {
    -fx-top: 50px;
    -fx-font-size: 20px;
}

#closeButton {
    -fx-font-size: 14px;
    -fx-background-color: #00a5cf;
    -fx-border-radius: 0px;
    -fx-text-fill: black;
}

#closeButton:hover {
    -fx-cursor: pointer;
    -fx-text-fill: white
}